.wrapper,
.title span,
.modal,
.fancybox-skin {
    background-color: #ffffff;
}
body,
.label,
.product-view .product-shop .sku_wrapper .sku {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #6f6f6f;
}
.postWrapper .post-info .posted-in a,
.breadcrumbs li strong,
.breadcrumbs li a,
.old-price .price,
.product-view .product-shop .link-wishlist:after, 
.product-view .product-shop .link-compare:after {
    color: #6f6f6f;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .title,
.product-name a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.share-title,
.block .block-title strong
{
    font-family: Georgia, serif;
    color: #000000;
}
.side-area .widget-title,
.recent-post-mini a,
.more-title .show-more-link,
.footer .footer-products-list li a,
.fixed-header .menu > li > a, 
.main-nav .menu > li > a,
.button {
    font-family: Georgia, serif;
}

.fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1, 
.main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1 {
    font-family: Georgia, serif;
}
.cart-table .price,
.cart .totals,
.cart .totals .price,
.order-products-table .price,
strong,
.block-account .block-content li a,
.block .block-subtitle,
.product-categories > li > a,
.order-view .order-products-table th,
.shopping-cart .cart-popup .products-small .product-item h5 a,
.shopping-cart .cart-popup .subtotal,
.data-table thead th,
.recent-post-mini a{
    color: #000000;
}
a,
.f-icon i:before,
.product-view .box-up-sell .slider-viewport .owl-theme .owl-controls .owl-buttons div,
.checkout-progress li,
.shopping-cart .cart-sum > a {
    color: #6f6f6f;
}
.checkout-progress li {
    border-color: #6f6f6f;
}
.side-area-icon i:before, 
.menu-icon i:before {
    color: #d3d3d3;
}
a:hover,
.button:hover,
.fixed-header a:hover,
.main-nav a:hover,
.links li a:hover,
.side-area-icon:hover i:before,
.menu-icon:hover i:before,
.recent-post-mini strong,
.pager li>a:hover, 
.pager li>a:focus,
.pager .pages li.current span,
.pager .pages li a.next:hover:before, 
.pager .pages li a.previous:hover:before,
.link-wishlist:hover, 
.link-compare:hover,
.product-tabs li.active a:hover,
.product-name a:hover,
.product-view .box-up-sell .slider-viewport .owl-theme .owl-controls .owl-buttons div:hover,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.shopping-cart .cart-popup .products-small .product-item h5 a:hover,
.opc .active h2,
.colored-active,
.custom-info-block a .fa:hover,
.footer .footer-products-list li a:hover,
.block-account .block-content li.current,
.block-account .block-content li.current strong,
.largest,
.team-member .member-mask .mask-text a:hover,
ul.list-arrow li:hover,
.postWrapper .post-info .posted-in a:hover,
.shopping-cart .cart-sum > a:hover strong,
.form-list label.required em,
.more-title .show-more-link:hover,
.breadcrumbs li a:hover,
.product-view .product-shop .availability.out-of-stock,
.tp-leftarrow.default:hover:before, .tp-rightarrow.default:hover:before,
span.active,
strong.active,
p.active,
.children .current-cat > a,
/*version 1.1.0 start*/.vmegamenu a:hover,
.vmegamenu > li:hover > a
/*version 1.1.0 end*/ {
    color: #ed1c2e;
}
/*version 1.1.0 start*/.tp-leftarrow.default:hover:before, 
.tp-rightarrow.default:hover:before {
    color: #ed1c2e !important;
}
/*version 1.1.0 end*/.checkout-progress li.active,
.dark .product-categories .open-this:hover {
    color: #ed1c2e;
    border-color: #ed1c2e;
}
.button:hover,
.pager li>a:hover, 
.pager li>a:focus,
.pager .pages li.current span,
.link-wishlist:hover, 
.link-compare:hover,
input.input-text:focus,
textarea:focus {
    border-color: #ed1c2e;
}
.toolbar .sorter .grid,
.toolbar .sorter .list {
    background-color: #6f6f6f;
}
.toolbar .sorter .grid.active,
.toolbar .sorter .list.active,
.toolbar .sorter .grid:hover,
.toolbar .sorter .list:hover,
.progress-bar > div,
.mini-filled:hover,
.product-view .product-shop .link-wishlist:hover, 
.product-view .product-shop .link-compare:hover,
.block-with-ico.ico-position-top i {
    background-color: #ed1c2e;
}
.price {
    color: #ed1c2e;
}
.button,
.link-wishlist, 
.link-compare {
    color: #000000;
    
}
.button.filled,
.button.filled:hover,
.button.white:hover {
    background-color: #ed1c2e;
    border-color: #ed1c2e;
    color: #ffffff;
}
.product-view .product-shop .link-wishlist:hover:before, 
.product-view .product-shop .link-compare:hover:before {
    color: #ffffff;
}
/*---Top Bar Settings---*/.header-container .top-bar {
    background: #ffffff;
}
.header-container .top-bar .container {
    border-color: #dbdbdb;
}
.links li a,
.links li.login:before, 
.links li.logout:before, 
.links li.myaccount:before, 
.links li.mywishlist:before, 
.links li.register:before, 
.links li.mycart:before,
.search .search-link:before,
.my-account-link:before,
.top-bar select,
.top-bar .form-language i:before,
.top-bar .form-currency i:before,
.top-bar li.blog:before {
    color: #000000;
}
/*---Top Bar Settings End---*//*-----Version 1.1.0 start-----*//*---Main Header Styles---*/.header-container {
background-color: #ffffff;
}
/*-----version 1.1.0 end-----*//*---Main Navigation Styles---*/.header-wrapper .main-nav {
    background-color: #ffffff;
}
.fixed-header a, 
.main-nav a,
.fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li:before,
.main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li:before,
/*version 1.1.0 start*/.vmegamenu a,
.vmegamenu li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li:before
/*version 1.1.0 end*/ {
    color: #000000;    
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label1, .main-nav .menu > li > a > span.cat-label.cat-label-label1,
.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1,
.mobile-nav .sw-mobile-menu li > a span.cat-label.cat-label-label1,
/*version 1.1.0 start*/.nav-category-list > li > a > span.cat-label.cat-label-label1,
.nav-category-list > li .nav-sublist-dropdown .container ul li a > span span.cat-label.cat-label-label1,
.nav-category-mobile-list .sw-mobile-menu > li > a span.cat-label.cat-label-label1,
.nav-category-mobile-list .sw-mobile-menu > li > ul li a > span span.cat-label.cat-label-label1
/*version 1.1.0 end*/ {
background: #f5b507;
color: #ffffff;
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label2, .main-nav .menu > li > a > span.cat-label.cat-label-label2,
.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2,
.mobile-nav .sw-mobile-menu li > a span.cat-label.cat-label-label2,
/*version 1.1.0 start*/.nav-category-list > li > a > span.cat-label.cat-label-label2,
.nav-category-list > li .nav-sublist-dropdown .container ul li a > span span.cat-label.cat-label-label2,
.nav-category-mobile-list .sw-mobile-menu > li > a span.cat-label.cat-label-label2,
.nav-category-mobile-list .sw-mobile-menu > li > ul li a > span span.cat-label.cat-label-label2
/*version 1.1.0 end*/ {
background: #db2920;
color: #ffffff;
}
.fixed-header {
    background-color: #ffffff;
    background: url(http://sungoldcreation.com/media/smartwave/transparency/default/1.png);
    background-repeat: repeat;
}
.fixed-header .menu > li .nav-sublist-dropdown, .main-nav .menu > li .nav-sublist-dropdown,
.fixed-header .menu > li.menu-item .nav-sublist-dropdown .nav-sublist li > a, .main-nav .menu > li.menu-item .nav-sublist-dropdown .nav-sublist li > a,
/*version 1.1.0 start*/.nav-category-list > li .nav-sublist-dropdown,
.nav-category-list > li.menu-item .nav-sublist-dropdown .nav-sublist li > a
/*version 1.1.0 end*/ {
    background-color: #ffffff;
    background: url(http://sungoldcreation.com/media/smartwave/transparency/default/1.png);
    background-repeat: repeat;
}
/*---Main Navigation Styles End---*//*---Footer Top Styles Start---*/.footer-top {
    background-color: #dbd9d0;
}
.footer-top,
.footer-top a,
.footer-top .footer-products-list .old-price .price {
    color: #6f6f6f;
}
.footer-top a:hover,
.footer-top .footer-menu li:hover,
.footer-top .footer-products-list li a:hover,
.footer-top .tweet a,
.dark .footer-top .footer-products-list li a:hover {
    color: #ed1c2e;
}
.footer-top h1,
.footer-top .h1,
.footer-top h2,
.footer-top .h2,
.footer-top h3,
.footer-top .h3,
.footer-top h4,
.footer-top .h4,
.footer-top h5,
.footer-top .h5,
.footer-top h6,
.footer-top .h6,
.footer-top .footer-title,
.footer-top .recent-post-mini a,
.footer-top .footer-products-list li a {
    color: #000000;
}
.footer-top .footer-products-list > li,
.footer-top .block-content .tweet,
.footer-top .recent-post-mini {
    border-color: #ebebeb;
}
.footer .bordered-wrapper,
.footer-top .bordered-wrapper {
    border-color: #dbdbdb;
}
/*---Footer Top Styles End---*/
/*---Footer Bottom Styles Start---*/.footer-bottom {
    background-color: #dbd9d0;
}
.footer-bottom,
.footer-bottom a,
.footer-bottom .footer-products-list .old-price .price {
    color: #6f6f6f;
}
.footer-bottom a:hover,
.footer-bottom .footer-menu li:hover,
.footer-bottom .footer-products-list li a:hover,
.footer-bottom .tweet a,
.dark .footer-bottom .footer-products-list li a:hover {
    color: #ed1c2e;
}
.footer-bottom h1,
.footer-bottom .h1,
.footer-bottom h2,
.footer-bottom .h2,
.footer-bottom h3,
.footer-bottom .h3,
.footer-bottom h4,
.footer-bottom .h4,
.footer-bottom h5,
.footer-bottom .h5,
.footer-bottom h6,
.footer-bottom .h6,
.footer-bottom .footer-title,
.footer-bottom .recent-post-mini a,
.footer-bottom .footer-products-list li a {
    color: #000000;
}
.footer-bottom .footer-products-list > li,
.footer-bottom .block-content .tweet,
.footer-bottom .recent-post-mini {
    border-color: #ebebeb;
}
.footer-bottom .bordered-wrapper {
    border-color: #dbdbdb;
}
/*---Footer Bottom Styles End---*//*---Footer Copyright Styles Start---*/.copyright {
    background-color: #dbd9d0;
}
.copyright,
.copyright a {
    color: #6f6f6f;
}
.copyright .bordered-wrapper {
    border-color: #dbdbdb;
}
/*---Footer Copyright Styles End---*/.tabs .tab-title.opened {
    border-bottom-color: #ffffff;
}
/*---Magento 1.9.1.0 ConfigurableColorSweaches---*/.configurable-swatch-list .hover .swatch-link,
.configurable-swatch-list .selected .swatch-link,
.swatch-link:hover {
    border-color: #ed1c2e;
}