<?php 
/**
* template: product_view_media
* @var $_product    Mage_Catalog_Model_Product
* @author           SW-THEMES
* @copyright        Copyright 2014 Smartwave
* */                         
?>

<?php 
    $_product = $this->getProduct();    
    $_helper = $this->helper('catalog/output');
    $helpZoom = $this->helper('smartwave_zoom');
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $helpImg = $this->helper('all/image');
// lightbox settings
    $lbOptions = $helpZoom->getLightBoxOptions();
//  Get Main Image Sizes.
    $imgOpt = $helpZoom->getMainImgOptions();    
//  Get Image Options after zoom
    $bigImgOpt = $helpZoom->getBigImgOptions();

    $itemImgOpt = $helpZoom->getGalItemOptions();
        
//  Main Image Style. If there is more images, image class is has-more-img, else has-no-more-img    
    $imgCount = count($this->getGalleryImages());
?>

<?php // main image ?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<div class="img-box product-image-zoom <?php echo Mage::getStoreConfig('zoom/general/type')?>">
    <?php 
        // Get the Special Price
        $specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
        // Get the Special Price FROM date
        $specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
        // Get the Special Price TO date
        $specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
        // Get Current date
        $today =  time();
     
        if ($specialprice){
            if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)){
                if(Mage::getStoreConfig("legenda_setting/product_label/sale", $code)){
    ?>
                <span class="label-icon sale-label">Sale!</span>
    <?php       
                }
            }
        }
    ?>
    <?php
        $now = date("Y-m-d");
        $newsFrom= substr($_product->getData('news_from_date'),0,10);
        $newsTo=  substr($_product->getData('news_to_date'),0,10);
        if ($newsTo != '' || $newsFrom != ''){
            if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo))
            {
                if(Mage::getStoreConfig("legenda_setting/product_label/new", $code)){
        ?> 
                <span class="label-icon new-label second-label">New!</span>
        <?php 
                }
            }
        }
    ?>
    <div class="img-wrapper">
        <div id="main_img_gal" class="owl-carousel">        
            <?php if ($imgCount > 0):?>
                <?php foreach($this->getGalleryImages() as $_image): ?>
                    <?php // If no image, skip 
                        if ($_image->getFile() == NULL)
                            continue;
                    ?>
                    <div class="item">
                        <?php if (Mage::getStoreConfig('zoom/image/aspect_ratio', $code)) : ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(480); ?>" data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(960); ?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" class="main-zoom-img"/>
                        <?php else: ?>
                        <img src="<?php echo $helpImg->getImage($_product, $imgOpt['img_width'], $imgOpt['img_height'] , 'thumbnail', $_image->getFile()); ?>" data-zoom-image="<?php echo $helpImg->getImage($_product, $bigImgOpt['img_width'], $bigImgOpt['img_height'], 'thumbnail', $_image->getFile()); ?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" class="main-zoom-img"/>
                        <?php endif; ?>
                        <?php if ($helpZoom->useLightbox()) :?>
                            <a class="fancybox vt-icon" rel="lightbox-gallery" href="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(960); ?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>">fancybox</a>
                        <?php endif;?>
                    </div>                
                <?php endforeach ?>
            <?php else: ?>
                <div class="item">
                    <?php if (Mage::getStoreConfig('zoom/image/aspect_ratio', $code)) : ?>
                    <img class="main-zoom-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(480); ?>" data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(960); ?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" />
                    <?php else: ?>
                    <img class="main-zoom-img" src="<?php echo $helpImg->getImage($_product, $imgOpt['img_width'], $imgOpt['img_height'], 'image'); ?>" data-zoom-image="<?php echo $helpImg->getImage($_product, $bigImgOpt['img_width'], $bigImgOpt['img_height'], 'image'); ?>" alt="<?php echo $this->escapeHtml($this->getImageLabel());?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" />                
                    <?php endif; ?>
                    <a class="fancybox vt-icon" rel="lightbox-gallery" href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(960); ?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>">fancybox</a>
                </div>            
            <?php endif; ?>        
        </div>            
    </div>
    <?php if ($helpZoom->useLightbox()): ?>
        <div class="<?php echo $lbOptions['position']?> lb-icon">
            <a class="lb-main-icon"><i class="fa fa-expend"></i></a>
        </div>
    <?php endif; ?>
</div>
<?php else: ?>
<div class="img-box product-no-image-zoom">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(265).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>    
</div>    
<?php endif; ?>
<?php if ((count($this->getGalleryImages()) > 0 || $_product->getImage()) && $_product->getImage() != 'no_selection'): ?>
<div class="more-views">
    <div id="more_img_gal" class="owl-carousel">
        <?php if ($imgCount > 0):?>
            <?php foreach($this->getGalleryImages() as $_image): ?>
                <?php // If no image, skip 
                    if ($_image->getFile() == NULL)
                        continue;
                ?>
                <div class="item">                    
                    <img src="<?php echo $helpImg->getImage($_product, $itemImgOpt['img_width'] - $itemImgOpt['img_border'], $itemImgOpt['img_height'] - $itemImgOpt['img_border'], 'thumbnail', $_image->getFile()); ?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" />
                </div>
            <?php endforeach ?>
        <?php else: ?>
            <div class="item">
                <img class="main-zoom-img" src="<?php echo $helpImg->getImage($_product, $imgOpt['img_width'], $imgOpt['img_height'], 'image'); ?>" data-zoom-image="<?php echo $helpImg->getImage($_product, $bigImgOpt['img_width'], $bigImgOpt['img_height'], 'image'); ?>" alt="<?php echo $this->escapeHtml($this->getImageLabel());?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" />
            </div>
        <?php endif; ?>
    </div>
</div>

        <div class="product-image-gallery">

        </div>

<script type="text/javascript">
function getZoomParameters() {
    var params = {zoomContainer:'.img-wrapper',borderSize:0, <?php echo $helpZoom->getZoomOptions()?>};
    return params;
}
jQuery(function($){
    var mainImgGallery = $('#main_img_gal');
    var moreImgGallery = $('#more_img_gal');
    var zoomElement;
    mainImgGallery.owlCarousel({        
        singleItem : true,
        slideSpeed : 1000,
        autoHeight: true,
        navigation: true,
        pagination:false,
        afterAction : syncPosition,
        responsiveRefreshRate : 200,
    });
    moreImgGallery.owlCarousel({
        items : 3,
        navigation: true,
        itemsDesktop      : [1199,2],
        itemsDesktopSmall     : [979,3],
        itemsTablet       : [768,3],
        itemsMobile       : [479,2],
        pagination:false,
        responsiveRefreshRate : 100,
        afterInit : function(el){
          el.find(".owl-item").eq(0).addClass("synced");
        }
      });
      function syncPosition(el){
        var current = this.currentItem;
        moreImgGallery.find(".owl-item")
          .removeClass("synced")
          .eq(current)
          .addClass("synced")
        if(moreImgGallery.data("owlCarousel") !== undefined){
          center(current)
        }
        el.find(".owl-item").removeClass('active-cur').eq(current).addClass('active-cur');        
        $('.zoomContainer').remove();
        setTimeout(function(){
<!--            el.find(".active-cur .item img.main-zoom-img").elevateZoom({zoomContainer:'.img-wrapper',borderSize:0, --><?php //echo $helpZoom->getZoomOptions()?><!--});            -->
            ProductMediaManager.destroyZoom();
            ProductMediaManager.destroyCurZoom();
            el.find(".active-cur .item img.main-zoom-img").elevateZoom(getZoomParameters());
        }, 1000);
      }
      $("#more_img_gal").on("click", ".owl-item", function(e){
        e.preventDefault();
        var number = $(this).data("owlItem");
        mainImgGallery.trigger("owl.goTo",number);
      });
      
      function center(number){
        var sync2visible = moreImgGallery.data("owlCarousel").owl.visibleItems;

        var num = number;
        var found = false;
        for(var i in sync2visible){
          if(num === sync2visible[i]){
            var found = true;
          }
        }

        if(found===false){
          if(num>sync2visible[sync2visible.length-1]){
            moreImgGallery.trigger("owl.goTo", num - sync2visible.length+2)
          }else{
            if(num - 1 === -1){
              num = 0;
            }
            moreImgGallery.trigger("owl.goTo", num);
          }
        } else if(num === sync2visible[sync2visible.length-1]){
          moreImgGallery.trigger("owl.goTo", sync2visible[1])
        } else if(num === sync2visible[0]){
          moreImgGallery.trigger("owl.goTo", num-1)
        }
      }
      $(".lb-main-icon").click(function(e) {
            e.preventDefault();            
            $('.active-cur .vt-icon').trigger('click');
      });
      $(".vt-icon").fancybox({
          prevEffect: 'none',
          nextEffect: 'none',
          maxHeight: '80%',
          helpers: {
              title : {type: 'inside'},
              overlay : {
                    locked  : false
                }
          }
      });
      var zoomTimer;
      $(window).resize(function(){
        if (zoomTimer) clearTimeout(zoomTimer);
        zoomTimer = setTimeout(function(){
            $('.zoomContainer').remove();
            $('.active-cur .item img.main-zoom-img').removeData('elevateZoom');
            $(".active-cur .item img.main-zoom-img").elevateZoom({zoomContainer:'.img-wrapper',borderSize:0, <?php echo $helpZoom->getZoomOptions()?>});
        }, 500);
      });
});
</script>
<?php echo $this->getChildHtml('after'); ?>
<?php endif; ?>